html {
    font-family: sans-serif;
  }
body {
  background-color: #1F1F1F;
}
p {
	color: white;
}

h1 {
  color: white;
}
.text-center {
    text-align: center!important;
}
.button {
  background-color: mediumpurple;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
}